@model Friend

@{
    ViewData["Title"] = "Friend Details";
}

<h1>Friend Details</h1>
<div>
    <p>Id: @Model.FriendID</p>
    <p>Name: @Model.FriendName</p>
    <p>Place: @Model.Place</p>
    <p>Favorite Food: @Model.FavoriteFood</p>
    <p>Favorite Movie: @Model.FavoriteMovie</p>
    <p>Relationship Status: @Model.RelationshipStatus</p>
</div>

<button>
    <a class="nav-link text-dark" asp-controller="Friend" asp-action="Index">Back to Friend List</a>
</button>

